@import '../../../../styles/colors.module.scss';

.header {
    background-color: black;
}

.headerContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 0;
}

.headerLogo {
    width: 180px;
    cursor: pointer;
}

.headerBtn:hover {
    border-color: $lightRed;
    color: $lightRed;
    background-color: transparent;
}

@media (max-width: 576px) {
    .headerContainer {
        padding: 20px 16px;
    }
}


@media (max-width: 380px) {
    .headerContainer {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }
}